<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h2>Add Expertise</h2>

            <br />

            <form method="post" action="/expertises/add">

                <fieldset>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="expertiseName">Expertise Name</label>
                                <input class="form-control" id="expertiseName" name="expertiseName" type="text" />
                            </div>
                        </div>
                    </div>

                </fieldset>
                <input type="submit" class="btn btn-primary pull-right" value="Add Expertise" /><br /><br /><br />

            </form>
        </div>
    </div>
</div>